name: 'Tests: node.js'

on: [pull_request, push]

permissions:
  contents: read

jobs:
  test:
    name: 'Node.js ${{ matrix.node-version }}'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 18
          - 20
          - 22
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm run test

  node:
    name: 'node 18+'
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - run: true
