name: Automatic Rebase

on: [pull_request_target]

permissions:
  contents: write

jobs:
  _:
    name: "Automatic Rebase"
    runs-on: ubuntu-latest
    if: github.event.pull_request.head.repo.full_name == github.repository
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: ljharb/actions/rebase@main
